*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor1: #F6E6E4; 
    --cor2: #E2BCB7;
    --cor3: #CA8A8B;
    --cor4: #5B6D5B;
    --cor5: #5b6d5b2d;
    --fonte: Roboto;
}

body{
    width: 100%;
    overflow-x: hidden;
    font-family: var(--fonte);
}

header{
    width: 100%;
    background-color: var(--cor1);
    color: #5B6D5B;
    padding: 20px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
 
nav{
    display: flex;
    align-items: center;
}


#menuEsquerdo h1{
    font-size: 30px;
    padding: 20px;
}


#menuDireito{
    display: flex;
    align-items: center;
}

.botao{
    padding: 10px 10px;
    font-size: 16px;
    color: white;
    background-color: var(--cor3);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.botao:hover{
    background-color: var(--cor4);
}

#banner{
    height: 400px;
    display: flex;
    justify-content: center;
    padding: 30px;
    overflow-y: hidden;
    align-items: start;
    margin-bottom: 30px;
}

#banner img{
    width: 80%;
    transition: opacity 0.3s ease;
}

#banner img:hover{
    opacity: 0.7;
}

#produtos{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

#melhoresProdutos{
    width: 80%;
    padding: 20px;
    text-align: center;
    background-color: var(--cor5);
}

#melhoresProdutos h2{
    color: #5B6D5B;
    margin-bottom: 20px;
}

#melhoresProdutos img{
    max-width: 100%;
    height: auto;
    margin: 10px;
    transition: transform 0.3s ease;
}

#melhoresProdutos img:hover{
    transform: scale(1.2);
}

.catalogo-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 20px;
}

#categorias{
    width: 20%;
    padding-right: 20px;
    border-right: 2px solid #5B6D5B;
}

#categorias input[type="checkbox"]:checked + label{
    color: #CA8A8B;
    font-weight: bold;
}


#categorias ul{
    list-style: none;
}

#categorias ul li{
    margin-bottom: 10px;
    margin-top: 10px;
}


.produtos-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.produto-item{
    width: 18%;
    padding: 15px;
    margin-bottom: 10px;
}

.produto-item img{
    width: 100%;
    height: auto;
}

#contatos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
}

#contatos h3{
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.agrupamento{
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card{
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
}

footer{
    width: 100%;
    background-color: var(--cor1);
    color: #5B6D5B;
    padding: 20px 0;
    bottom: 0;
}

.footer-contatos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer-esquerda, .footer-direita{
    display: flex;
    flex-direction: column;
}

.botao-footer{
    text-decoration: none;
    color: #CA8A8B;
}

.botao-footer:hover{
    text-decoration: underline;
}


.footer-inferior{
    text-align: center;
    margin-top: 20px;
}

.footer-inferior p{
    margin: 0;
    font-size: 14px;
}
