*{
    margin: 0%;
    padding: 0%;
}

:root{
    --cor1: #F6E6E4; 
    --cor2: #E2BCB7;
    --cor3: #CA8A8B;
    --cor4: #5B6D5B;
    --fonte: Roboto;
}

body{
    width: 100%;
    overflow-x: hidden;
    font-family: var(--fonte);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    padding: 20px;
}

.image-section {
    flex: 1;
    margin-right: 50px;
}

.image-section img {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.login-section {
    flex: 1;
    max-width: 400px;
}

.login-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-section form {
    display: flex;
    flex-direction: column;
}

.login-section form label {
    margin-bottom: 5px;
    font-size: 14px;
}

.login-section form input {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-options a {
    font-size: 12px;
}

.login-options button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-section p {
    text-align: center;
    margin-top: 10px;
}

footer{
    width: 100%;
    background-color: var(--cor1);
    color: #5B6D5B;
    padding: 20px 0;
    bottom: 0;
}

.footer-contatos{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 40px;
}

.footer-esquerda, .footer-direita{
    display: flex;
    flex-direction: column;
}

.botao-footer{
    text-decoration: none;
    color: #CA8A8B;
}

.botao-footer:hover{
    text-decoration: underline;
}


.footer-inferior{
    text-align: center;
    margin-top: 20px;
}

.footer-inferior p{
    margin: 0;
    font-size: 14px;
}
